footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  background-color: $c-white;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1;
  padding: 2rem;
  border-top: 2px solid #f4f2eb;
}